@font-face {
  font-family: 'GameRegular';
  font-weight: 400;
  src: url(/fonts/ArchivoNarrow-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'GameRegular';
  font-weight: 500;
  src: url(/fonts/ArchivoNarrow-Medium.ttf) format("truetype");
}
@font-face {
  font-family: 'GameRegular';
  font-weight: 600;
  src: url(/fonts/ArchivoNarrow-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'GameDisplay';
  font-weight: 400;
  src: url(/fonts/MajorMonoDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'GameSerif';
  font-weight: 400;
  src: url(/fonts/Slabo27px-Regular.ttf) format("truetype");
}
